<h1>blogs</h1>

<ul>
  <% @blogs.each do |blog| %>
    <li>
      <a href="/blogs/<%= blog.id %>">
        <%= blog.title %>
      </a>
    </li>
  <% end %>
</ul>
<body mode="maker">
  <div class="blockly-editor">
    <button class="mode-maker mdl-button" id="edit">Edit</button>


    <form action="/blocks" method="post">
      <input id="block" name="block" value="nil" type="hidden"/>
      <button type="submit">Done</button>
    </form>


    <div class="mode-edit mdl-button mdl-js-button" id="done" >
      <%= button_to "Done", { controller: "blocks", action: "create" }, remote: true %>
    </div>

    <button class="mode-blockly mdl-button mdl-js-button" id="save">Save</button>

    <div id="blocklyDiv" style="height: 500px; width: 500px;"></div>
  </div>

  <script src="https://unpkg.com/blockly"></script>
  <!-- <script src="https://unpkg.com/blockly/javascript_compressed"></script> -->

  <%= javascript_include_tag "blocks/ruby" %>
  <%= javascript_include_tag "generators/ruby_generator" %>
  <%= javascript_include_tag "ruby_toolbox" %>
</body>
