<%= stylesheet_link_tag "style" %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<p>
  To use:<br/>
  write the path to file relative to 'app/' without the .rb<br/>
</p>

<body mode="maker">
  <table>
    <td>
      <div class="blockly-editor">
        <%= form_with(url: blocks_path, method: :post, remote: true) do |form| %>
          <%= form.hidden_field(:block, id: 'block', value: "nil") %>
          <%= button_tag(type: 'submit', id: "done", class: "mode-edit mdl-button mdl-js-button") do %>
           Done
          <% end %>
        <% end %>
        <div id="blocklyDiv" style="height: 800px; width:1000px;">

        </div>
      </div>
    </td>
    <td>
      <div id='textarea' class='show-white-space'>
        Your code will appear here
      </div>
    </td>
  </table>


  <script src="https://unpkg.com/blockly"></script>

  <%= javascript_include_tag "banner_alert", defer: "defer" %>
  <%= javascript_include_tag "blocks/ruby", defer: "defer" %>
  <%= javascript_include_tag "generators/ruby_generator", defer: "defer" %>
  <%= javascript_include_tag "ruby_toolbox", defer: "defer" %>
</body>
